@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html{
font-family: 'Raleway', sans-serif;
  }
}

/* .signTitle{

    background-image: linear-gradient(
    -255deg,
    rgb(248, 240, 240) 10%,
    #e12349 39%,
    #79df27 67%,
    #479aec 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #b9db5b;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
    
} */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}